.nav {
  background: linear-gradient(
    to right,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  ); /* 배경색을 linear-gradient로 설정 */
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  padding: 20px 0px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.nav ul li {
  transition: all 0.3s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
  color: #e0e0e0;
}

@media (max-width: 768px) {
  .nav {
    width: 100%;
    top: 0;
    padding: 10px 0px;
  }

  .nav ul {
    gap: 20px;
  }

  .nav ul li {
    font-size: 0.9em;
  }
}
