.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
}

.notFoundContainer h2 {
  font-size: 2rem;
  color: black;
}

.notFoundContainer p {
  margin: 20px 0;
  font-size: 1.25rem;
}

.notFoundContainer a {
  display: inline-block;
  background-color: #ff9a9e;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.notFoundContainer a:hover {
  background-color: #fad0c4;
  transform: translateY(-2px);
}
